<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

    <script type="text/javascript" src="/lib/protovis-3.2/protovis-d3.2.js"></script>
    <script type="text/javascript" src="/radar.js" charset="utf-8"></script>
    <script>
        var data =<%- JSON.stringify(technologies, null, 4) %>;
    </script>
</head>

<body onload="init(400,400,data);">

<% include ../partials/menu.ejs %>

<div tabindex="-1" id="content" class="site-header" style="margin-bottom: 10px">
    <div class="container">
        <h1><%= category.name %></h1>
        <p><%= category.description %></p>
    </div>
</div>

<div class="container bs-docs-container">

    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-top: 10px;">
            <li><a href="/">Home</a></li>
            <li class="active"><%= category.name %></li>
        </ol>
    </div>

    <div class="row" style="padding-top: 20px;">
        <div class="row top-buffer">
            <div class="col-sm-6">
                <% include ../partials/radar-list.ejs %>
            </div>
            <div class="col-sm-6">
                <div id="radar"></div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>

</body>
</html>
