<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

    <script type="text/javascript" src="/utils.js" charset="utf-8"></script>
</head>

<body>

<% include ../partials/menu.ejs %>

<div tabindex="-1" id="content" class="site-header" style="margin-bottom: 10px">
    <div class="container">
        <row>
            <div class="col-md-12">
                <h1>Edit Tags</h1>
            </div>
        </row>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-top: 10px;">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li class="active">Tags</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="custom-toolbar">
                <div class="form-inline" role="form">
                    <a href="#" onclick="$('#addTagModal').modal('show');" class="btn btn-info">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add
                    </a>
                    <button id="editBtn" class="btn btn-info" disabled="">
                        <i class="glyphicon glyphicon-edit"></i>
                        Edit
                    </button>
                    <button id="deleteBtn" class="btn btn-danger" disabled="">
                        <i class="glyphicon glyphicon-remove"></i>
                        Delete
                    </button>
                </div>
            </div>
            <table id="results"></table>
        </div>
    </div>

</div><!-- /.container -->

<div id="addTagModal" class="modal fade" role="dialog">
  <div class="modal-dialog">                      
    <div class="modal-content">
      <form id="addTagForm" action="javascript:void(0);" method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add a new tag</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name</label>
            <input name="name" id="new-tag-name" type="text" class="form-control"
                    placeholder="Tag name" autofocus required>
          </div>
        </div>
        <div class="modal-footer">                
          <button type="submit" class="btn btn-default">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="editTagModal" class="modal fade" role="dialog">
  <div class="modal-dialog">                      
    <div class="modal-content">
      <form id="editTagForm" action="javascript:void(0);" method="PUT">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit tag</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name</label>
            <input name="id" id="edit-tagid" type="hidden" class="form-control"/>
            <input name="name" id="edit-tag-name" type="text" class="form-control"
                    placeholder="Tag name" autofocus required/>
          </div>
        </div>
        <div class="modal-footer">                
          <button type="submit" class="btn btn-default">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>

<script src="/shared/validators/tagValidator.js"></script>
<script src="/lib/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/stickyTablePageSize.js"></script>

<script>
    $table = $('#results');
    $deleteBtn = $('#deleteBtn');
    $editBtn = $('#editBtn');

    $table.bootstrapTable({
        method: 'get',
        url: '/api/tags',
        cache: false,
        striped: true,
        escape: true,
        idField: 'id',
        search: true,
        showColumns: true,
        showRefresh: true,
        showPaginationSwitch: true,
        pagination: true,
        maintainSelected: true,
        pageSize: page_size, // declared and set in stickyTablePageSize.js 
        // reach the columns nested in the response data
        responseHandler: function(res) {
            return res.result; 
        },
        columns: [{
            field:'state',
            checkbox:'true'
        }, {
            field: 'id',
            title: 'ID',
            visible: false
        }, {
            field: 'name',
            title: 'Name',
            sortable: true
        }]
    });

    $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table pre-body.bs.table', function () {
        $deleteBtn.prop('disabled', !$table.bootstrapTable('getSelections').length);
        $editBtn.prop('disabled', $table.bootstrapTable('getSelections').length != 1);
    });

    $deleteBtn.click( function() {
        var r = confirm("Are you sure you want to delete the selected tags? Deleted tags will disappear from all projects.");
        if (r == false) {
            return;
        }

        var data = {};
        data.tags = getIdSelections();

        $.ajax({
            type: "DELETE",
            url: '/api/tags',
            contentType: "application/json",
            data: JSON.stringify(data),
            complete: function(result){
                if (result.success) {
                    $table.bootstrapTable('refresh' );
                    $deleteBtn.prop('disabled', true );
                } else {
                    alert("There was an error deleting category");
                }
            }
        });
    });

    $editBtn.click(function () {
        var tagId = getIdSelections()[0];
        var tagName = getNameSelections()[0];
        $('#editTagModal').modal('show');
        $('input#edit-tag-name').val(tagName);
        $('input#edit-tagid').val(tagId);
    });

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }

    function getNameSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.name
        });
    }

    $("#editTagForm").unbind('submit').submit(function (event) {
        var tagName = $("input#edit-tag-name").val();
        var tagId = $("input#edit-tagid").val();
        editTag(tagId, tagName);
    });

    function editTag(tagId, tagName) {
        var validationResult = TagValidator.validateTagName(tagName);
        if(!validationResult.valid) {
            alert(validationResult.message);
            return;
        }

        $.ajax({
            method: "PUT",
            contentType: "application/json",
            url: "/api/tag",
            data: JSON.stringify({tag: tagId, name: tagName})
        }).done(function( msg ) {
            if(msg.success) {
                location.reload();
            } else {
                alert("Unable to edit this tag. Perhaps the same tag already exists.");
            }
        }).fail(function() {
            alert('There was an error editing tag.');
        });

        <% if (google_id!=undefined) { %>
            ga('send', 'event', 'Tag', 'edit', tagName);
        <% } %>
    }

    $("#addTagForm").unbind('submit').submit(function (event) {
        var tagName = $("input#new-tag-name").val();
        addTag(tagName);
    });

    function addTag(tagName) {
        var validationResult = TagValidator.validateTagName(tagName);
        if(!validationResult.valid) {
            alert(validationResult.message);
            return;
        }

        $.ajax({
            method: "POST",
            contentType: "application/json",
            url: "/api/tag",
            data: JSON.stringify({name: tagName})
        }).done(function( msg ) {
            if(msg.success) {
                location.reload();
            } else {
                alert("Unable to add this tag. Perhaps the same tag already exists.");
            }
        }).fail(function() {
            alert('There was an error adding tag.');
        });

        <% if (google_id!=undefined) { %>
            ga('send', 'event', 'Tag', 'add', tagName);
        <% } %>
    }
</script>

</body>
</html>
